.season-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: -20px;
}

.season {
  flex: 0 1 154px;
  cursor: pointer;
  margin: 20px;
}

  .season-number {
    text-align: center;
  }

  .season-poster {
    display: block;
  }

  .season-date {
    text-align: center;
  }